<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Scrapper</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='color.css') }}" type="text/css"/>
</head>
<body>
  <header class="container" style="margin-bottom: -150px ">
    <hgroup>
      <h1 style="margin-bottom: 0px"><center>Find your job!</center></h1>
    <center>information from [we work remotely], [remote | ok]</center>
    </hgroup>
  </header>
  <main class="container">
    <form action="/search">
      <div style="justify-contents: center; ">
        <img src="{{ url_for('static', filename='hiring.png') }}" alt="Job Search Icon" style="display: block; margin-left: auto; margin-right: auto;height: 550px; ">
        <br>
      </div>
      <div style="display: flex; ">
          <input type="search" name="keyword" style="width: 50%; margin-left: 15%; margin-right: 5%; color: #000000; background:white;" placeholder="e.g. python, golang...">
        <button class="outline" style="width: 15%; color: #fff; background:skyblue; font-size:2em; border-radius:0.5em; padding:5px 20px;">Search</button>
      </div>
    </form>
  </main>
</body>
</html>